<app-images title="Default" [items]="items"></app-images>
<div class="container">

    <div class="container__components">
        <app-default (update)="onUpdate($event)"
                     [timestamp]="timestamp"></app-default>
        <app-default (update)="onUpdate($event)"
                     [timestamp]="timestamp"></app-default>

        <app-default (update)="onUpdate($event)"
                     [timestamp]="timestamp"></app-default>
        <app-default (update)="onUpdate($event)"
                     [timestamp]="timestamp"></app-default>

        <app-default (update)="onUpdate($event)"
                     [timestamp]="timestamp"></app-default>
        <app-default (update)="onUpdate($event)"
                     [timestamp]="timestamp"></app-default>

        <app-default (update)="onUpdate($event)"
                     [timestamp]="timestamp"></app-default>
        <app-default (update)="onUpdate($event)"
                     [timestamp]="timestamp"></app-default>

        <app-default (update)="onUpdate($event)"
                     [timestamp]="timestamp"></app-default>

    </div>

</div>