button {
  margin-left: auto;
  display: block;
  margin-bottom: 16px;
}

mat-card {
  margin: 16px auto;
}

:host {
  width: 300px;
}

.list-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
