<mat-card>

    <button mat-raised-button
            color="primary"
            (click)="addItem()">ADD ITEM</button>

    <mat-list role="list">
        <ng-container *ngFor="let item of list">
            <mat-list-item role="listitem">
                <div class="list-item">
                    <div>
                        {{item.name}}
                    </div>

                    <div>
                        {{item.distance | impure}}
                    </div>
                </div>

            </mat-list-item>
            <mat-divider></mat-divider>
        </ng-container>
    </mat-list>

</mat-card>