.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  width: 40px;
}

.loader {
  width: 80px;
  display: block;
  margin: 0 auto 24px auto;
}

h3 {
  text-align: center;
  margin: 24px;
}
