<app-images title="Default vs OnPush II"
            [items]="items"></app-images>

<div class="buttons">
    <div>
        <h4>Increase Counter by</h4>
        <div class="buttons__wrapper">
            <button (click)="increaseByValue()">Value</button>
            <button (click)="increaseByReference()">Reference</button>
        </div>
        <h4>
            Counter: {{counter.count}}
        </h4>
    </div>
</div>

<div class="components">
    <app-parent-default [counter]="counter"></app-parent-default>
    <app-parent-push [counter]="counter"></app-parent-push>
</div>