<div>
    <h2>markForCheck()</h2>

    <div class="container">
        <div>
            <h3>CounterService</h3>
            <img src="/assets/counter-service.png" />
        </div>
        <div>
            <h3>Mark for check</h3>
            <img src="/assets/mark-for-check.png" />
        </div>

    </div>

    <div class="container">
        <div>
            <h3>Default</h3>
            <img src="/assets/mfc-default.png" />
        </div>
        <div>
            <h3>OnPush</h3>
            <img src="/assets/mfc-push.png" />
        </div>
    </div>


    <div class="counter">
        <p>Counter: {{counter}}</p>
    </div>

    <div class="components">
        <app-mark-for-check-default></app-mark-for-check-default>
        <app-mark-for-check-onpush></app-mark-for-check-onpush>
    </div>

</div>