$sidebar-width: 300px;

.sidebar-container {
  padding-bottom: 0px;

  img {
    width: $sidebar-width;
    margin: auto;
    display: block;
  }

  h3,
  h4 {
    text-align: center;
    color: #000;
  }
}

a {
  height: 30px;
  text-decoration: none;
  color: #000;
  width: 100%;
  text-align: center;
  line-height: 3;
  &:hover {
    color: grey;
  }
}

.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content {
  justify-content: flex-start;
  flex-direction: column !important;
  color: grey;
  line-height: 3;
}

.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
  background: none;
}

mat-list-item {
  cursor: pointer;
}

mat-list-item-ripple {
  line-height: 2;
}

.active {
  color: red;
}
