.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  > * {
    flex: 50%;
    padding-bottom: 60px;
    h3 {
      text-align: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    h2 {
      color: black;
      text-align: center;
    }
  }
}

h2 {
  padding: 30px 0;
  text-align: center;
}

img {
  width: 80%;
  margin-bottom: 20px;
  margin: auto;
  display: block;
}
