.container {
  background-color: #fff;
  padding: 16px;
  &__title {
    font-size: 24px;
    color: #000;
    word-wrap: break-word;
    padding-bottom: 16px;
    text-align: center;
    line-height: 1.1;
  }

  &__wrapper {
    display: flex;
  }

  &__timestamp {
    color: #000;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
  }

  &__button {
    margin-left: 40px;
  }
}
