<mat-card>


    <input type="text"
           (keyup)="search(searchValue)"
           placeholder="Search"
           [(ngModel)]="searchValue">

    <mat-list role="list">
        <ng-container *ngFor="let item of list">
            <mat-list-item role="listitem">
                <div class="list-item">
                    <div>
                        {{item.index}}
                    </div>

                    <div>
                        {{item.name}}
                    </div>

                    <div>
                        {{fibo(item.distance)}}
                    </div>
                </div>

            </mat-list-item>
        </ng-container>

    </mat-list>

</mat-card>